/*h1 {*/
/*  text-align: center;*/
/*}*/
img {
  width: 400px;
}
/*figure {*/
/*  text-align: center;*/
/*}*/
html {
  text-align: center;
  background-color: antiquewhite;
}
p {
  font-size: large;
}